body{
  font-family: 'Schibsted Grotesk', sans-serif;
}
.btn{
  height:35px;
  width:150px;
  margin: 40px auto;
}
.btn button{
  height:35px;
  width: 150px;
  color:brown;
  border: none;
  background-color: white;
  box-shadow: 0 0 5px  #888;
  border-radius: 5px;
}
.btn button:hover{
  box-shadow: 0 0 15px;
}